<!DOCTYPE html>
<html lang="en" data-ng-app="BeMEAN">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>
<body >
    <div data-ng-controller="UserController as User">
        <h1>{{User.titulo}}</h1>
        <table>
            <thead>
                <tr>
                    <th data-ng-repeat="(key, value) in User.users[0]"> {{key}} </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in User.users | orderBy:'idade'">
                    <td data-ng-repeat="(key, value) in user"> {{value}} </td>
                </tr>
            </tbody>
        </table>
   </div>
    <script src="libs/angular.min.js"></script>
    <script>
        //o primeiro parâmetro é o ng-app e o segundo são as dependências
        angular.module('BeMEAN', [])
                .controller('UserController', UserController)
                .controller('CourseController', CourseController);

        function UserController() {
            var vm = this;
            vm.titulo = "Usuários";
            vm.users = [
                {nome: "Nattan", idade: 25},
                {nome: "João", idade: 26}
            ]
        };

        function CourseController() {
            var vm = this;
            vm.titulo = "Cursos";
            vm.courses = [
                {teacher: "Nattan", curso : "Matemática"},
                {teacher: "João", curso: "História"}
            ]
        };


    </script>
</body>
</html>